/* Error: Undefined operation "tab-land/16px * 1em".
 *    ,
 * 80 |     @media (max-width: $breakpoint/16px * 1em) {@content};
 *    |                        ^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   sass\abstracts\_mixins.scss 80:24  respond()
 *   sass\base\_base.scss 13:5          @import
 *   sass\main.scss 6:9                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Undefined operation "tab-land/16px * 1em".\a    \2577 \a 80 \2502      @media (max-width: $breakpoint/16px * 1em) {@content};\d\a    \2502                         ^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   sass\\abstracts\\_mixins.scss 80:24  respond()\a   sass\\base\\_base.scss 13:5          @import\a   sass\\main.scss 6:9                 root stylesheet';
}
