@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

// The clearfix class prevent from bugs related to floating elements. If there are elements with float property inside of a container (like div), the browser will have troubles to calculate the height of that container. This is so-called zero-height container problem and it's illustrated in this picture:

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin relCenter {
    position: relative;
    top: 0%;
    left: 0%;
    transform: translate(0);
} //untuk menjaga absCenter agar nggak berubah di tab-port

// MEDIA QUERIE Manager
/*
0 - 600px:      phone
600 - 900px:    table portrait
900 - 1200px:   tablet landscape
(1200 - 1800) is where our normal styles apply
1800px - :      big desktop

Breakpoint argument choices:
- phone
- tab-port
- tab-land
- desktop

// using ems not rems

ada sekumpulan orang yang udah nyoba khusus untuk media query lebih baik pakai ems dari pada rems. 
1em = 16px

// A useful tip so you would not care about media queries order
    //just by making your breakpoints more specific like so .
    // - phone // max-width: 600px;
    // - tab-port // min-width: 601px and max-width: 900px
    // - tab-land // min-width:901px and max-width: 1200px
    // - big-desktop // min-width: 188px;

*/

// @mixin respond($breakpoint) {
//     @if $breakpoint == tab-land {
//         @media (min-width:56.3125em) {@content};
//         // @media (min-width:56.3125em) and (max-width: 75em) {@content};
//     } //901px - 1200px

//     @if $breakpoint == tab-port {
//         @media (min-width: 37.5625em) {@content};
//         //@media (min-width: 37.5625em) and (max-width: 56.25em) {@content};
//       } //601px - 900px

//     @if $breakpoint == phone {
//         @media (max-width: 37.5em) {@content}; //600px
//     }

//     @if $breakpoint == desktop {
//         @media (min-width: 112.5em) {@content}; //1800px
//     }
// }
// caranya jonas, deprecated, diganti dengan cara yang lebih 

$phone: 600px;
$tablet-portrait: 900px;
$tablet-landscape: 1200px;
$big-desktop: 1800px;
 
@mixin respond($breakpoint) {
    @media (max-width: $breakpoint/16px * 1em) {@content};
} // This way you don't need all those if-statements, since the @media keyword already functions as an if-statement.