.header {
    height: 85vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.8), 
        rgba($color-primary-dark, 0.8)
        ), 
    url(../img/hero-small.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        height: 95vh;
    } //untuk support older browser. Yang penting ada propertinya seperti (clip-path: polygon(0 0)), unitnya nggak penting

    @media (min-resolution: 192dpi) and (min-width: 37.5em),
    (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    // -webkit-min-device-pixel-ratio digunakan di safari, yang biasanya dipakai di ipad atau nmac
    (min-width: 125em) {
        background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.8), 
        rgba($color-primary-dark, 0.8)
        ), 
    url(../img/hero.jpg);
    }

    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    } //dimasukin ini supaya nggak terlalu steep desainnya pas dikecilin

    &___logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    
    &___logo {
        height: 3.5rem;
    }
    
    /*
    .logo:hover {
        animation: Blooming 2s ease-in;
    }
    */
    
    &___text-box {
        @include absCenter;
        text-align: center;
    }

    &___logo-animated {
        -webkit-animation: moveInTop 0.5s ease-out 0.75s;
        animation: moveInTop 0.5s ease-out 0.75s;
        -webkit-animation-fill-mode: backwards;
        animation-fill-mode: backwards;
      }
}

