.popup {
    height: 100%;
    width: 100%;
    position: fixed;
    //display: block;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    
    z-index: 3000;
    
    opacity: 0;
    visibility: hidden; // lebih baik pakai opacity 0 dan visibility hidden karena bisa dianimated, nggak seperti display: none;
    transition: all .3s;

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &___content {
        @include absCenter;
        
        //height: 50rem;
        width: 75%;     
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: 3px;
        display: table;
        overflow: hidden;
    }

    &___left {
        width: 33.333333%;
        //float: left;
        display: table-cell; //pengganti float left, kayak di microsoft word
    }

    &___right {
        width: 66.666667%;
        //float: left; //supaya bisa nempel di block img
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem; //tadi nyoba dengan left ternyata nggak bisa. 
    }
    
    &___img {
        display: block;
        width: 100%;
    }

    &___text {
        font-size: 1.4rem;
        margin-bottom: 4rem;

        -moz-column-count: 2;
        -moz-column-gap: 4em; //4x 1.4rem dari font-size yang ada di dalam bracket.
        -moz-column-rule: 1px solid $color-grey-light-2;

        column-count: 2;
        column-gap: 4em; //4x 1.4rem dari font-size yang ada di dalam bracket.
        column-rule: 1px solid $color-grey-light-2;

        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto; //karena udah disetting di html lang=en
    }
}