*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //this define what 1rem is
    font-size: 62.5%; //1rem = 10px/16px = 62.5%

    @include respond(tab-land) {
      font-size: 56.25%; //1rem = 9px, = 9/16 = 56.25% 
    }

    @include respond(tab-port) {
      font-size: 50%; //karena rem khusus tab-land ingin kubuat jadi 8px, maka 1rem = 8/16 = 50%
    }

    @include respond(phone) {
      font-size: 46%; //1rem = 7,36px
    } // diinclude karena menurut adam "Don't forget to include respond-phone, after tab-port in _base.scss if you do this, no change for me until i did.  Thanks Ali."

    //awalnya tab-port di - define duluan, tapi karena berlaku bersamaan, maka 
   
    // A useful tip so you would not care about media queries order
    //just by making your breakpoints more specific like so .
    // - phone // max-width: 600px;
    // - tab-port // min-width: 601px and max-width: 900px
    // - tab-land // min-width:901px and max-width: 1200px
    // - big-desktop // min-width: 188px;

    @include respond(desktop) {
      font-size: 75%; //1rem - 12, 12/16 = 75%
    }
}

body {
    padding: 3rem;
    box-sizing: border-box;
}

