*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //this define what 1rem is
    font-size: 62.5%; //1rem = 10px/16px = 62.5%

    @include respond(tab-land) {
      font-size: 56.25%; //1rem = 9px, = 9/16 = 56.25% 
    }

    @include respond(tab-port) {
      font-size: 50%; //karena rem khusus tab-land ingin kubuat jadi 8px, maka 1rem = 8/16 = 50%
    }

    @include respond(phone) {
      font-size: 30%; //1rem = 7,36px
    } // menurut jonas harusnya respond(phone) nggak usah diinclude di base, karena sudah termasuk dari tab-port
    // tapi di qna section respond-phone harusnya diinclude karena menurut A useful tip so you would not care about media queries order, just by making your breakpoints more specific like tab-port // min-width: 601px and max-width: 900px.
    // dan karena dibuat spesifik, maka @include respond(phone) seharusnya juga diinclude biar tidak terlewat
    // "Don't forget to include respond-phone, after tab-port in _base.scss if you do this, no change for me until i did. Thanks Ali." 
    // https://www.udemy.com/course/advanced-css-and-sass/learn/lecture/8274548#questions/8344044
    // tapi cara ini tuh nggak bagus karena kalau dibandingin dengan caranya jonas, kita mesti include setiap $breakpoint untuk specifying the styles. Bukankah lebih baik pakai 1 aja?


    // A useful tip so you would not care about media queries order
    //just by making your breakpoints more specific like so .
    // - phone // max-width: 600px;
    // - tab-port // min-width: 601px and max-width: 900px
    // - tab-land // min-width:901px and max-width: 1200px
    // - big-desktop // min-width: 188px;

    @include respond(desktop) {
      font-size: 75%; //1rem - 12, 12/16 = 75%
    }
}

body {
    padding: 3rem;
    box-sizing: border-box;

    @include respond(tab-port) {
      padding: 0;
    }

    @include respond(phone) {
      padding: 0;
    } //sebagai efek dari aplikasi 
}

